.container{
    background-color: aquamarine;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

}
.text-color{
    color:red;
}
.split-box{
    background-color: white;
  text-align: center;
  width: 250px;
  height: 25s0px;
  border: none;
  border-radius: 20px;
  padding: 43px 58px;
  margin: 5rem;
}
.form-control{
    padding: 7px 32px;
    border-radius: 10px;
    margin:4px;
}
.signup-button{
    padding: 7px 6rem;
    border-radius: 10px;
    background-color: palevioletred;
    color:aliceblue;
}